@page "/cpknormal"

@using FimsCPK.Models;
@using FimsCPK.Services
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;
@using Telerik.SvgIcons;
@inject IJSRuntime JsRuntime
@inject CpkService cpkService

@************************** PAGE TITLE *****************************************************************@
<PageTitle>Fims Dashboard</PageTitle>
<div class="card-header text-lg-center pt-2 pb-2 fw-bold px-9"> 정규분포 </div>

<TelerikCard>
    @************************** PAGE HEADER 구성 *************************************************************
        기간설정 (년/월~년/월), 모델 선택,     테스트번호선택, 채널선택,     정규분포 버튼
        gSetDuration         gTargetModel   gTestNumber  gChannelName  Retrieve_TestData_For_Model
        gStartYear
        gEndYear
    ********************************************************************************************************@
    <CardHeader>
        &nbsp;&nbsp;&nbsp
        <label for="myIncludeDate" ThemeColor="success" style="color:red ">&nbsp;&nbsp;&nbsp;기간지정</label>
        <TelerikCheckBox Id="myIncludeDate" @bind-Value="@gSetDuration" />&nbsp;&nbsp
        <TelerikDatePicker Min="@gMinYear" Max="@gMaxYear" @bind-Value="@gStartYear"
                           BottomView="@CalendarView.Month"
                           Format="yyyy-MM-dd" Width="120px"></TelerikDatePicker>
        ~
        <TelerikDatePicker @bind-Value="@gEndYear"
                           BottomView="@CalendarView.Month"
                           Format="yyyy-MM-dd" Width="120px"></TelerikDatePicker>

        <label for="myModel"> &nbsp;&nbsp;&nbsp;&nbsp;모델:</label>
        <TelerikComboBox Data="@gModelNames" Width="200px" @bind-Value="@gTargetModel" OnChange="@ModelChangeHandler"
                         Placeholder="Select Model..." ClearButton="true" Filterable="true">
        </TelerikComboBox>

        <label for="myTestNum"> &nbsp;&nbsp;&nbsp;&nbsp;테스트번호:</label>
        <TelerikComboBox @ref="@ComboBoxRef"
                         Data="@gTestNumbers" Width="300px" @bind-Value="@gTargetNumber"
                         Placeholder="Select Test Item..." ClearButton="true" Filterable="true">
        </TelerikComboBox>

        <label for="myChannel"> &nbsp;&nbsp;&nbsp;&nbsp;Channel:</label>
        <TelerikComboBox Data="@gChananelNames" TextField="MyTextField" ValueField="MyValueField" Width="100px" @bind-Value="@gChannelName" OnChange="@ChannelChangeHandler"
                         Placeholder="..." ClearButton="true" Filterable="true">
        </TelerikComboBox>

        &nbsp;&nbsp;&nbsp;&nbsp;<strong>[항목수=@gCounter]</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <TelerikButton ThemeColor="success" OnClick="@Retrieve_TestData_For_Model" Icon="FontIcon.Search">정규분포 그래프</TelerikButton>&nbsp;&nbsp;&nbsp;&nbsp;
    </CardHeader>

    @************************** PAGE BODY 구성 ***************************************************************
        검사리스트(Grid)        정규분포그래프       X-R 관리도
    ********************************************************************************************************@
    <CardBody>
        <TelerikTileLayout Columns="6"
                           ColumnWidth="18%"
                           RowHeight="200px"
                           Reorderable="true"
                           Resizable="true">
            <TileLayoutItems>
                <TileLayoutItem HeaderText="@gTargetModel" RowSpan="3" ColSpan="2">
                    <HeaderTemplate>
                        <h4 style="color:blue"><strong>CTQ 값:@gTargetModel&nbsp-@gTargetNumber</strong></h4>
                    </HeaderTemplate>
                    <Content>
                        <TelerikGrid Class="cpk-grid"
                                     Data="@gListCtq"
                                     ConfirmDelete="true"
                                     Pageable="false"
                                     Groupable="false"
                                     Sortable="false"
                                     FilterMode="GridFilterMode.FilterMenu"
                                     Resizable="true"
                                     Reorderable="true"
                                     EditMode="GridEditMode.Popup"
                                     PageSize=@gPageSize
                                     Navigable="true"
                                     Height="100%">

                            <GridToolBarTemplate>
                                <GridCommandButton Command="ExcelExport" Icon="@SvgIcon.FileExcel">Export to Excel</GridCommandButton>
                            </GridToolBarTemplate>

                            <GridSettings>
                                <GridPagerSettings InputType="PagerInputType.Buttons"
                                                   ButtonCount="20"
                                                   Position="PagerPosition.Top">
                                </GridPagerSettings>
                            </GridSettings>

                            <GridExport>
                                <GridExcelExport FileName="@gStrFilename" AllPages="true" />
                            </GridExport>

                            <GridColumns>
                                <GridColumn Field=@nameof(CPK_Items.sn) Width="30px" Title="SN" Sortable=true />
                                <GridColumn Field=@nameof(CPK_Items.workdate) Width="60px" Title="검사날짜" Sortable=true />
                                <GridColumn Field=@nameof(CPK_Items.value1) Width="30px" Title="CH1값" Sortable=true />
                                <GridColumn Field=@nameof(CPK_Items.value2) Width="30px" Title="CH2값" Sortable=true />
                                <GridColumn Field=@nameof(CPK_Items.value3) Width="30px" Title="CH3값" Sortable=true />

                                @*
                                <GridColumn Field=@nameof(Tsheet.ProductSerial) Width="30px" Title="SN" Sortable=true />
                                <GridColumn Field=@nameof(Tsheet.InspectionEndDateTime) Width="40px" Title="검사날짜" Sortable=true />
                                <GridColumn Field=@nameof(Tsheet.InspectorName) Width="30px" Title="값" Sortable=true />
                                *@
                            </GridColumns>

                        </TelerikGrid>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="정규분포" RowSpan="3" ColSpan="2">
                    <HeaderTemplate>
                        <h4 style="color:green"><strong>정규분포 : @gTargetModel&nbsp-@gTargetNumber</strong></h4>
                        <h6 style="color:green"><strong>avg:@gAvg, std:@gStdDev, lcl:@gSelectedLcl ucl:@gSelectedUcl</strong></h6>
                     </HeaderTemplate>
                    <Content>
                        <TelerikChart Height="100%" Width="100%" @ref="theChart">
                            <ChartTooltip Visible="false" Shared="true"></ChartTooltip>
                            <ChartLegend Visible="false"></ChartLegend>
                            <ChartSeriesItems>
                                <ChartSeries Type="ChartSeriesType.Line"
                                             Name="Value1"
                                             Data="@gNormalValue"
                                             Color="blue"
                                             Field="@nameof(CPK_NormalDist.value1)" CategoryField="@nameof(CPK_NormalDist.value2)">
                                    @*
                                    <ChartSeriesLabels Template="#=value#" Visible="true" Color="blue" Background="#FF000000"></ChartSeriesLabels>
                                    *@
                                    <ChartSeriesMarkers Size="-1">
                                        <ChartSeriesMarkersBorder Width="-1"></ChartSeriesMarkersBorder>
                                    </ChartSeriesMarkers>

                                </ChartSeries>
                            </ChartSeriesItems>

                            <ChartTitle Text="@gTargetModel" Description="Product Sales by Year and Country">
                                <ChartSubtitle Text="@gNormalSubtitle"></ChartSubtitle>
                            </ChartTitle>

                            <ChartCategoryAxes>
                                <ChartCategoryAxis>
                                    <ChartCategoryAxisPlotBands>
                                        <ChartCategoryAxisPlotBand From="@gGraphLcl" To="gGraphLcl" Color="blue" Opacity="1.0"></ChartCategoryAxisPlotBand>
                                        <ChartCategoryAxisPlotBand From="50" To="50" Color="red" Opacity="1.0"></ChartCategoryAxisPlotBand>
                                        <ChartCategoryAxisPlotBand From="@gGraphUcl" To="gGraphUcl" Color="blue" Opacity="1.0"></ChartCategoryAxisPlotBand>
                                        <ChartCategoryAxisPlotBand From="@gSigma1L" To="gSigma1U" Color="green" Opacity="0.3"></ChartCategoryAxisPlotBand>
                                        <ChartCategoryAxisPlotBand From="@gSigma2L" To="gSigma2U" Color="red" Opacity="0.3"></ChartCategoryAxisPlotBand>
                                        <ChartCategoryAxisPlotBand From="@gSigma3L" To="gSigma3U" Color="yellow" Opacity="0.3"></ChartCategoryAxisPlotBand>
                                    </ChartCategoryAxisPlotBands>
                                    <ChartCategoryAxisLabels Step="20" />
                                </ChartCategoryAxis>
                            </ChartCategoryAxes>

                        </TelerikChart>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="X-R 관리도" RowSpan="3" ColSpan="2">
                    <HeaderTemplate>
                        <h5 style="color:green"><strong>X-R 관리도: @gTargetModel&nbsp-@gTargetNumber</strong></h5>
                        <h6 style="color:green"><strong>(Ch-@gChannelName) avg:@gAvg, std:@gStdDev, lcl:@gSelectedLcl ucl:@gSelectedUcl</strong></h6>
                    </HeaderTemplate>
                    <Content>
                        <TelerikChart Height="100%" Width="100%" @ref="theChartXR">
                            <ChartTooltip Visible="true" Shared="true"></ChartTooltip>
                            <ChartLegend Visible="false"></ChartLegend>
                            <ChartSeriesItems>
                                @if (@gChannelName == "1")
                                {
                                    <ChartSeries Type="ChartSeriesType.Line"
                                                 Name="CTQ 측정값"
                                                 Data="@gListCtq"
                                                 Color="blue"
                                                 Field="value1">
                                        <ChartSeriesMarkers Size="3"/>

                                    </ChartSeries>
                                }
                                else if (@gChannelName == "2")
                                {
                                    <ChartSeries Type="ChartSeriesType.Line"
                                                 Name="CTQ 측정값"
                                                 Data="@gListCtq"
                                                 Color="blue"
                                                 Field="value2">
                                        <ChartSeriesMarkers Size="3" />
                                    </ChartSeries>
                                }
                                else 
                                {
                                    <ChartSeries Type="ChartSeriesType.Line"
                                                 Name="CTQ 측정값"
                                                 Data="@gListCtq"
                                                 Color="blue"
                                                 Field="value3">
                                        <ChartSeriesMarkers Size="3" />
                                    </ChartSeries>
                                }
                            </ChartSeriesItems>

                            <ChartTitle Text="@gTargetModel" Description="XR graph">
                                <ChartSubtitle Text="@gNormalSubtitle"></ChartSubtitle>
                            </ChartTitle>

                            <ChartValueAxes>
                                <ChartValueAxis Min="@yMin" Max="@yMax">
                                    <ChartValueAxisPlotBands>
                                        <ChartValueAxisPlotBand From="@y3SigL" To="@y3SigU" Color="#ffff00" Opacity="0.1"></ChartValueAxisPlotBand>
                                        <ChartValueAxisPlotBand From="@yCL1" To="@yCL2" Color="black" Opacity="0.9"></ChartValueAxisPlotBand>
                                        <ChartValueAxisPlotBand From="@yCU1" To="@yCU2" Color="black" Opacity="0.9"></ChartValueAxisPlotBand>
                                        <ChartValueAxisPlotBand From="@yAvg1" To="@yAvg2" Color="green" Opacity="0.5"></ChartValueAxisPlotBand>
                                    </ChartValueAxisPlotBands>
                                </ChartValueAxis>
                            </ChartValueAxes>

                        </TelerikChart>
                    </Content>
                </TileLayoutItem>
            </TileLayoutItems>
        </TelerikTileLayout>
    </CardBody>

</TelerikCard>

@************************** 프로그램 CODE ***************************************************************
        구조체 정의:         CPK_Items, CPK_Statistics,
********************************************************************************************************@
@code {

    //--- Cpk.razor와 동일한 구조체
    public class CPK_Items
    {
        public string sn { get; set; }
        public DateTime workdate { get; set; }
        public float value1 { get; set; }
        public float value2 { get; set; }
        public float value3 { get; set; }
    };

    public class CPK_Statistics
    {
        public string name { get; set; }
        public int num { get; set; }
        public int numSpecIn { get; set; }
        public int numGood { get; set; }
        public double average { get; set; }
        public double stddev { get; set; }
        public double sum { get; set; }

        public double min { get; set; }
        public double max { get; set; }
        public double cp { get; set; }
        public double cpk { get; set; }

        public string lcl { get; set; }
        public string ucl { get; set; }
        public string lsl { get; set; }
        public string usl { get; set; }
    };


    //###### 정규분포용 구조체
    public class CPK_NormalDist
    {
        public string xCategory { get; set; }
        public double value1 { get; set; }
        public double value2 { get; set; }
        public double value3 { get; set; }
    };

    //--- Data For Combobox : Model, TestNo, Channel#
    private List<string> gModelNames = new List<string>();
    private List<string> gTestNumbers { get; set; } = new List<string>();

    //--- For GridData/ChartData
    public List<CPK_Items> gListCtq { get; set; }
    public List<CPK_Items> gListCtqBlank { get; set; } = new List<CPK_Items>();

    //--- For GridData
    private TelerikGrid<CPK_Statistics> GridRef { get; set; }   // 검색후 Ctq List Rebind하기 위해 (시간차로 표시 안될 수 있기 때문에)
    public List<CPK_Statistics> gCpkStats { get; set; }         // Cpk통계 Grid에 표시할 값

    //--- 검색 기간 : 2023~2030 사이
    private DateTime gMinYear = new DateTime(2023, 1, 1, 0, 0, 0);
    private DateTime gMaxYear = new DateTime(2030, 1, 1, 0, 0, 0);
    private DateTime gStartYear = DateTime.Now;
    private DateTime gEndYear = DateTime.Now;

    private string gTargetModel = "";
    private string gTargetNumber = "";
    private int gTargetOnlyNumber = 0;
    private string gChannelName = "Channel1";
    private bool gSetDuration = false;
    private int gCounter = 0;

    public int gSpanYear = 0;
    public int gPageSize = 100;
    string gLastSelectedModel = "";

    //--------------------------------------------------------
    //--- lcl/ucl, lsl,usl
    public double gCh1Lcl { get; set; } = 42;
    public double gCh1Ucl { get; set; } = 46;
    public double gCh2Lcl { get; set; }
    public double gCh2Ucl { get; set; }
    public double gCh3Lcl { get; set; }
    public double gCh3Ucl { get; set; }

    //--- TestNo Combobox refresh를 위한 것
    public TelerikComboBox<string, string> ComboBoxRef { get; set; }

    //--- For Excel Export
    bool ExportAllPages { get; set; }
    string gStrFilename { get; set; }   // exported excel filename : CtqList_ModelName_TestNumber_yyyy-mm-dd_HH.mm.ss.xlsx

    //###### 정규분포용 변수들
    private string[] gChananelNames = { "1", "2", "3" };
    private List<CPK_NormalDist> gNormalValue { get; set; } = new List<CPK_NormalDist>();
    private string gNormalSubtitle = "평균=-, 표준편차=-";

    //###### 그래프에 표시될 값 : 선택된 채널에 따라 설정
    public string gSelectedValue = "";
    public double gSelectedLcl = 0;
    public double gSelectedUcl = 0;
    public double gAvg = 0;
    public double gStdDev = 0;

    //--- For X축 : index로 변환
    public double gGraphLcl = 0;
    public double gGraphUcl = 0;
    public double gSigma1L = 0;
    public double gSigma1U = 0;
    public double gSigma2L = 0;
    public double gSigma2U = 0;
    public double gSigma3L = 0;
    public double gSigma3U = 0;

    //--- For Y축
    public double yMin = 40;
    public double yMax = 50;
    public double yAvg1 = 45;
    public double yAvg2 = 45.5;
    public double ySL1 = 0;
    public double ySL2 = 0;
    public double ySU1 = 0;
    public double ySU2 = 0;
    public double yCL1 = 0;
    public double yCL2 = 0;
    public double yCU1 = 0;
    public double yCU2 = 0;
    public double y3SigL = 0;
    public double y3SigU = 0;

    Telerik.Blazor.Components.TelerikChart theChart { get; set; }
    Telerik.Blazor.Components.TelerikChart theChartXR { get; set; }

    //***************************************************************************
    //      Cpk.razor와 동일
    //***************************************************************************

    //======================================================================
    //     초기화 : excel filename 지정, 기본기간지정, 변수 초기화, 해당 ModelName 추출
    protected override async Task OnInitializedAsync()
    {
        gStrFilename = "CtqList_" + gTargetModel + "_" + gTargetNumber + "_" + DateTime.Now.ToString("yyyy-MM-dd_HH.mm.ss");
        gStartYear = gEndYear.AddMonths(-12);
        gCpkStats = new List<CPK_Statistics>();
        List_Models();
        Retrieve_TestData_For_Model();
        theChartXR?.Refresh();
    }

    //======================================================================
    //      Cpk관리할 Model 이름 List를 DB에서 읽어 온다.
    private void List_Models()
    {
        gModelNames = cpkService.GetCpkModelNames(30);
        //--- 첫번째 모델, 첫번째 TestNo 설정
        if (gModelNames.Count != 0)
        {
            gTargetModel = gModelNames[0];
            Refresh_TestNo_For_Model(gTargetModel);
        }
    }

    // ======================================================================
    //      모델이 변경되면, 해당 모델의 TestNo List를 새로 가져온다.
    private async void ModelChangeHandler(object theUserInput)
    {
        string selectedModel = theUserInput.ToString();
        Refresh_TestNo_For_Model(selectedModel);
    }

    // ======================================================================
    //      모델이 변경되면, 해당 모델의 TestNo List를 새로 가져온다.
    private void Refresh_TestNo_For_Model(string selectedModel)
    {
        if (selectedModel == gLastSelectedModel)
            return;

        gLastSelectedModel = selectedModel;

        //--- Check Test Items
        gTestNumbers.Clear();
        using (var db = new FimsDbContext())
        {
            var lists = db.CpkItems.Where(n => n.Model == gLastSelectedModel).Select(p => p.TestNo).ToList();

            List<int> temp = lists.ToList();
            foreach (var tno in temp)
            {
                gTestNumbers.Add("(" + tno + "):" + db.TspecItems.Where(x => x.TestNo == tno).Select(p => p.Title).FirstOrDefault());
            }

            gTargetNumber = gTestNumbers[0];
        }

        ComboBoxRef?.Rebind();
        gChannelName = "1";         //###### 정규분포 Only

    }


    // ======================================================================
    //      모델이 변경되면, 해당 모델의 TestNo List를 새로 가져온다.
    private async void ChannelChangeHandler(object theUserInput)
    {
        Retrieve_TestData_For_Model();
    }

    // ======================================================================
    //-- Need Model Name, Test#, ChannelNo
    //     1) DB에서 해당Model, 해당TestNo에 대한 검사 data를 추출한다. (gListCtq)
    //     2) 계산 : gCpkStats 값 채움. 항목수, 평균, 표준편차, 최대/최소,
    private async void Retrieve_TestData_For_Model()
    {
        if (gTargetModel == null || gTargetModel.Length < 3 ||
            gTargetNumber == null || gTargetNumber.Length < 3)
        {
            Alert("Model, TestNo를 선택해야 합니다");
            return;
        }

        //--- Model이나 TestNo가 지정되어야만 한다.
        if (gTargetModel == null || gTargetModel.Length < 3 ||
            gTargetNumber == null || gTargetNumber.Length < 3)
        {
            Alert("Model, TestNo를 선택해야 합니다");
            return;
        }

        //--- TestNo 콤보박스에는 Test#+TestName이 들어가 있다. Test#만 추출한다. 통계 data 계산할때 필요.
        string strTargetNo = gTargetNumber.Substring(gTargetNumber.IndexOf("(") + 1, gTargetNumber.IndexOf(")") - 1);
        gTargetOnlyNumber = int.Parse(strTargetNo);

        //--- 1) DB에서 해당Model, 해당TestNo에 대한 검사 data를 추출한다. (ch1~3 값이 모두 0인 것은 제외한다.)
        using (var db = new FimsDbContext())
        {
            if (gSetDuration == false) // 날짜 무시
            {
                gListCtq = (from sheet in db.Tsheets
                            from item in db.Titems
                            orderby sheet.InspectionEndDateTime
                            where sheet.ProductModel == gTargetModel &&
                                 sheet.Id == item.TsheetId &&
                                 item.TestNo == gTargetOnlyNumber
                            select new CPK_Items
                                {
                                    sn = sheet.ProductSerial,
                                    workdate = sheet.InspectionEndDateTime,
                                    value1 = (float)(item.Ch1Data == null ? 0.0 : float.Parse(item.Ch1Data)),
                                    value2 = (float)(item.Ch2Data == null ? 0.0 : float.Parse(item.Ch2Data)),
                                    value3 = (float)(item.Ch3Data == null ? 0.0 : float.Parse(item.Ch3Data))
                                }).ToList();
            }
            else
            {
                string strStartDate = gStartYear.ToString("yyyy-MM-dd");
                string strEndDate = gEndYear.ToString("yyyy-MM-dd");

                gListCtq = (from sheet in db.Tsheets
                            from item in db.Titems
                            orderby sheet.InspectionEndDateTime
                            where sheet.ProductModel == gTargetModel &&
                                 sheet.Id == item.TsheetId &&
                                 item.TestNo == gTargetOnlyNumber &&
                                 sheet.InspectionEndDateTime >= gStartYear &&
                                 sheet.InspectionEndDateTime <= gEndYear
                            select new CPK_Items
                                {
                                    sn = sheet.ProductSerial,
                                    workdate = sheet.InspectionEndDateTime,
                                    value1 = (float)(item.Ch1Data == null ? 0.0 : float.Parse(item.Ch1Data)),
                                    value2 = (float)(item.Ch2Data == null ? 0.0 : float.Parse(item.Ch2Data)),
                                    value3 = (float)(item.Ch3Data == null ? 0.0 : float.Parse(item.Ch3Data))
                                }).ToList();
            }

            gListCtq = gListCtq.Where(x => x.value1 != 0 || x.value2 != 0 || x.value3 != 0).ToList();
            gCounter = gListCtq.Count();

            //----------------------------------------------------------------------------------------------
            //--- 2) 계산 : gCpkStats 값 채움. 항목수, 평균, 표준편차, 최대/최소,
            CPK_Statistics record;
            gCpkStats.Clear();
            //###### gCh1~3Visible = false 문장은 없음.

            record = GetStatistics(1, gListCtq);
            if (record.sum != 0)
            {
                gCpkStats.Add(record);
            }

            record = GetStatistics(2, gListCtq);
            if (record.sum != 0)
            {
                gCpkStats.Add(record);
            }

            record = GetStatistics(3, gListCtq);
            if (record.sum != 0)
            {
                gCpkStats.Add(record);
            }

            GridRef?.Rebind();
        }

        //#####################################################
        //--- Extract 정규분포, X-R그래프 관련 변수들
        Extract_Normal_XR_Values();

        await Task.Delay(500);
    }

    //======================================================================
    //--- 특정 채널 data에 대해 각종 통계값 계산
    //    (평균, 최소, 최대, 표준편차, 합계, lsl, usl, lcl, ucl)
    //--- Sample 수가 30개가 넘는 경우에
    //    (cp, cpk, 양품수) (chart에 표시할 lcl/ucl값 = gChxLcl/gChxUcl)
    private CPK_Statistics GetStatistics(int ixCh, List<CPK_Items> cpkitems)
    {
        List<float> items;

        if (ixCh == 1)
        {
            items = cpkitems.Select(n => n.value1).ToList();
        }
        else if (ixCh == 2)
        {
            items = cpkitems.Select(n => n.value2).ToList();
        }
        else if (ixCh == 3)
        {
            items = cpkitems.Select(n => n.value3).ToList();
        }
        else
        {
            return null;
        }

        string strLSL = "";
        string strUSL = "";
        CPK_Statistics record = new CPK_Statistics();

        record.name = "Ch-" + ixCh.ToString();
        record.num = items.Count();
        if (record.num >= 30)
        {
            record.average = items.Average();
            record.min = items.Min();
            record.max = items.Max();
            record.stddev = getStandardDeviation(items);
            record.sum = items.Sum();

            //--- get lsl,usl, lcl, ucl
            cpkService.GetSL(gTargetModel, gTargetOnlyNumber, ixCh, ref strLSL, ref strUSL);
            record.lsl = strLSL;
            record.usl = strUSL;
            cpkService.GetCL(gTargetModel, gTargetOnlyNumber, ixCh, ref strLSL, ref strUSL);
            record.lcl = strLSL;
            record.ucl = strUSL;

            if (record.sum != 0)
            {
                double dl = double.Parse(record.lcl ?? "0");
                double du = double.Parse(record.ucl ?? "0");

                switch (ixCh)
                {
                    case 1:
                        gCh1Lcl = dl;
                        gCh1Ucl = du;
                        break;
                    case 2:
                        gCh2Lcl = dl;
                        gCh2Ucl = du;
                        break;
                    case 3:
                        gCh3Lcl = dl;
                        gCh3Ucl = du;
                        break;
                }

                //--- cpk, cp 계산
                //    Cp = (UCL-LCL)/(6*표준편차)
                //    Cpk = MIN( (평균-LSL)/(3*표준편차), (USL-평균)/(3*표준편차))
                dl = double.Parse(record.lcl ?? "0");
                du = double.Parse(record.ucl ?? "0");
                record.cp = (du - dl) / (6 * record.stddev);
                double cpk1 = (record.average - dl) / (3 * record.stddev);
                double cpk2 = (du - record.average) / (3 * record.stddev);
                record.cpk = Math.Min(cpk1, cpk2);

                float fdl = (float)dl;
                float fdu = (float)du;
                record.numGood = items.Where(x => x >= fdl && x <= fdu).Count();
            }
        }

        return record;
    }

    //======================================================================
    //--- 표준편차 계산
    private float getStandardDeviation(List<float> floatList)
    {
        float average = floatList.Average();
        float sumOfDerivation = 0;
        foreach (float value in floatList)
        {
            sumOfDerivation += (value) * (value);
        }
        double sumOfDerivationAverage = sumOfDerivation / floatList.Count;
        return (float)Math.Sqrt(sumOfDerivationAverage - (average * average));
    }

    //======================================================================
    //--- 경고 Message 표시
    private async Task Alert(string message)
    {
        await JsRuntime.InvokeVoidAsync("alert", message); // Alert
    }

    //#########################################################################
    //--- 정규분포, X-R Graph에 필요한 값들을추출하는 함수.
    private void Extract_Normal_XR_Values()
    {
        //--- select graph value
        gSelectedValue = "value" + gChannelName;
        string chname = "Ch-" + gChannelName;
        var c1 = gCpkStats.Where(x => x.name == chname).Select(p => p.average).ToList();
        gAvg = c1.Count == 0 ? 0 : c1[0];
        gAvg = Math.Round(gAvg, 2);

        var c2 = gCpkStats.Where(x => x.name == chname).Select(p => p.stddev).ToList();
        gStdDev = c2.Count == 0 ? 0 : c2[0];
        gStdDev = Math.Round(gStdDev, 2);

        gNormalValue.Clear();
        gNormalSubtitle = "평균=" + gAvg.ToString() + ", 표준편차=" + gStdDev.ToString();
        if (gAvg == 0 && gStdDev == 0)
        {
            theChart.Refresh();
            return;
        }

        if (gChannelName == "1")
        {
            gSelectedLcl = gCh1Lcl;
            gSelectedUcl = gCh1Ucl;
        }
        else if (gChannelName == "2")
        {
            gSelectedLcl = gCh2Lcl;
            gSelectedUcl = gCh2Ucl;
        }
        else if (gChannelName == "3")
        {
            gSelectedLcl = gCh3Lcl;
            gSelectedUcl = gCh3Ucl;
        }
        else
        {
            gSelectedLcl = 0;
            gSelectedUcl = 0;
        }

        //--- 정규분포 값 계산
        //    입력 : gAvg, gStdDev, point수
        //    계산 : xMin, xMax, step
        int pointCount = 100;
        double xMin = gAvg - 4 * gStdDev;
        double xMax = gAvg + 4 * gStdDev;
        double step = (xMax - xMin) / pointCount;
        int ix = 0;

        for (double x = xMin; x <= xMax; x += step)
        {
            CPK_NormalDist nd = new CPK_NormalDist();
            nd.value1 = NormalDistribution(x, gAvg, gStdDev);
            nd.xCategory = x.ToString("#.##");
            nd.value2 = ((int)(x * 1000)) / 1000.0;
            gNormalValue.Add(nd);
            ix++;
        }

        //--- set lcl/ucl, sigma1, sigma2, sigma3
        gGraphLcl = GetXIndex(xMin, xMax, step, gSelectedLcl);
        gGraphUcl = GetXIndex(xMin, xMax, step, gSelectedUcl);
        gSigma1L = GetXIndex(xMin, xMax, step, gAvg - gStdDev);
        gSigma1U = GetXIndex(xMin, xMax, step, gAvg + gStdDev);
        gSigma2L = GetXIndex(xMin, xMax, step, gAvg - 2 * gStdDev);
        gSigma2U = GetXIndex(xMin, xMax, step, gAvg + 2 * gStdDev);
        gSigma3L = GetXIndex(xMin, xMax, step, gAvg - 3 * gStdDev);
        gSigma3U = GetXIndex(xMin, xMax, step, gAvg + 3 * gStdDev);

        //--- For Y축
        yMin = gAvg - 4 * gStdDev;
        yMax = gAvg + 4 * gStdDev;
        yAvg1 = gAvg - (yMax-yMin)/500;
        yAvg2 = gAvg + (yMax - yMin) / 500;
        yCL1 = gSelectedLcl - (yMax - yMin) / 500;
        yCL2 = gSelectedLcl + (yMax - yMin) / 500;
        yCU1 = gSelectedUcl - (yMax - yMin) / 500;
        yCU2 = gSelectedUcl + (yMax - yMin) / 500;
        y3SigL = gAvg - 3 * gStdDev;
        y3SigU = gAvg + 3 * gStdDev;

        theChart?.Refresh();
        theChartXR?.Refresh();
    }

    //### 정규분포: x에 대한 y값 계산
    private double NormalDistribution(double x, double mean, double stddev)
    {
        double expPart = Math.Exp(-Math.Pow(x - mean, 2) / (2 * Math.Pow(stddev, 2)));
        return (1 / (stddev * Math.Sqrt(2 * Math.PI))) * expPart;
    }

    //### 정규분포: return index of Value in num : dMin~dMax : num
    //             X축은 0~point 수만큼으로 구분 되어 있다. 실제 값에 해당되는 index를 구한다.
    //             sigma1~3 범위를 구하기 위한 것임.
    private double GetXIndex(double dMin, double dMax, double step, double dValue)
    {
        double diff = dValue - dMin;
        double dix = Math.Ceiling(diff / step);
        return dix;
    }
}
