@page "/cpksettings"

@using FimsCPK.Models;
@using FimsCPK.Services
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;
@using Telerik.SvgIcons;

@inject IJSRuntime JsRuntime
@inject CpkService cpkService

<style>
    .k-grid tbody {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 0.5;
        font-size: 12px;
        font-family: calibri;
        /* background-color: lightyellow;*/
    }

    .k-grid-header .k-header {
        font-weight: bold;
        font-size: 14px;
        font-family: calibri;
        padding: 1px;
        margin: 1px;
        text-align: center;
        background-color: lightcyan;
    }
</style>


<PageTitle>Fims Dashboard</PageTitle>
<div class="card-header text-lg-center pt-2 pb-2 fw-bold px-9"> LCL/UCL 관리 </div>

<TelerikCard>

    <CardHeader>
        <label for="myModel"> &nbsp;&nbsp;&nbsp;&nbsp;모델:</label>
        <TelerikComboBox Data="@gModelNames" Width="200px" @bind-Value="@gTargetModel" OnChange="@ModelChangeHandler"
                         Placeholder="Select Model..." ClearButton="true" Filterable="true">
        </TelerikComboBox>
        @*
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="uclSet"> <span>비율</span></label>
        <TelerikComboBox Data="@gRatioCL" Width="100px" @bind-Value="@gTargetRatio" 
                         Placeholder="Select Ratio..." ClearButton="true" Filterable="true">
        </TelerikComboBox>
        <TelerikButton ThemeColor="success" OnClick="@SetCL_WithRatio" Icon="FontIcon.Search">LCL/UCL설정</TelerikButton>
        *@
    </CardHeader>

    <CardBody>
        <h4 style="color:blue"><strong>LCL/UCL-@gTargetModel</strong></h4>
        <TelerikGrid Data=@gCpkItemsCL EditMode="@GridEditMode.Inline" Pageable="false" Height="500px"
                     OnUpdate="@UpdateHandler" OnEdit="@EditHandler" OnDelete="@DeleteHandler" OnCreate="@CreateHandler" OnCancel="@CancelHandler">
            <GridToolBarTemplate>
                <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Cpk Item</GridCommandButton>
            </GridToolBarTemplate>
            <GridColumns>
                <GridColumn Field=@nameof(CpkItem.TestNo) Title="TestNo" Editable="true" />
                <GridColumn Field=@nameof(CpkItem.Ch1Lcl) Title="Ch1LCL" />
                <GridColumn Field=@nameof(CpkItem.Ch1Ucl) Title="Ch1UCL" />
                <GridColumn Field=@nameof(CpkItem.Ch2Lcl) Title="Ch2LCL" />
                <GridColumn Field=@nameof(CpkItem.Ch2Ucl) Title="Ch2UCL" />
                <GridColumn Field=@nameof(CpkItem.Ch3Lcl) Title="Ch3LCL" />
                <GridColumn Field=@nameof(CpkItem.Ch3Ucl) Title="Ch3UCL" />
                <GridCommandColumn>
                    <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">Update</GridCommandButton>
                    <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                    <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
                    <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" ShowInEdit="true">Cancel</GridCommandButton>
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>

        <h4 style="color:blue"><strong>(참고)LSL/USL-@gTargetModel</strong></h4>
        <TelerikGrid Data=@gCpkItemsSL EditMode="@GridEditMode.Inline" Pageable="false" Height="500px"
                     OnUpdate="@UpdateHandler" OnEdit="@EditHandler" OnDelete="@DeleteHandler" OnCreate="@CreateHandler" OnCancel="@CancelHandler">
            <GridColumns>
                <GridColumn Field=@nameof(TspecItem.TestNo) Title="TestNo" Editable="true" />
                <GridColumn Field=@nameof(TspecItem.Ch1Lcl) Title="Ch1LSL" />
                <GridColumn Field=@nameof(TspecItem.Ch1Ucl) Title="Ch1USL" />
                <GridColumn Field=@nameof(TspecItem.Ch2Lcl) Title="Ch2LSL" />
                <GridColumn Field=@nameof(TspecItem.Ch2Ucl) Title="Ch2USL" />
                <GridColumn Field=@nameof(TspecItem.Ch3Lcl) Title="Ch3LSL" />
                <GridColumn Field=@nameof(TspecItem.Ch3Ucl) Title="Ch3USL" />
            </GridColumns>
        </TelerikGrid>
    </CardBody>

</TelerikCard>

@code {

    static List<string> gModelNames = new List<string>();
    List<CpkItem> gCpkItemsCL { get; set; } = new List<CpkItem>();
    List<TspecItem> gCpkItemsSL { get; set; } = new List<TspecItem>();
    static List<double> gRatioCL = new List<double> { 0.1, 0.2, 0.3 };

    private string gTargetModel = "";
    private string gTargetNumber = "";
    private double gTargetRatio = 0.1;
    private string gChannelName = "Channel1";
    private int gCounter = 0;

    public int gPageSize = 100;
    string gLastSelectedModel = "";
    public bool gCh1Visible { get; set; } = true;
    public bool gCh2Visible { get; set; } = true;
    public bool gCh3Visible { get; set; } = true;

    [CascadingParameter]
    public DialogFactory Dialogs { get; set; }
    public string gRetMessage { get; set; } = "N";

    protected override async Task OnInitializedAsync()
    {
        List_Models();
    }

    private void List_Models()
    {
        //--- if alread models are listed-up, skip
        if (gModelNames.Count > 0)
            return;

        List<CpkItem> tCpkModelList;

        using (var db = new FimsDbContext())
        {
            tCpkModelList = db.CpkItems.ToList();
        }

        var models = from cpkModel in tCpkModelList
                     orderby cpkModel.Model
                     group cpkModel by cpkModel.Model into grp
                     select grp.Key;

        foreach (var item in models)
        {
            gModelNames.Add(item.ToString());
        }
    }

    private async Task Get_Cpk_Items_For_Model(string strModel)
    {
        //--- if alread models are listed-up, skip
        if (strModel == null || strModel.Length < 3)
            return;

        List<CpkItem> tCpkModelList;

        using (var db = new FimsDbContext())
        {
            // gCpkItemsCL = db.CpkItems.Where(x => x.Model == strModel).ToList();
            gCpkItemsCL = cpkService.GetCLValuesForModel(strModel);
            //--- Get LSL/USL for gCpkItemsCL
            //    1) TSpecModels에서 Mode TSpecModelId를 구한다.
            //    2) ModelId와 TestNo가 일치하는 TSpecItems를 구한다.
            List<int> listTestNo = gCpkItemsCL.Select(x => x.TestNo).ToList();
            gCpkItemsSL = cpkService.GetSLValuesForModelAndTestNo(strModel, listTestNo);
        }

        /*
        using (var db = new FimsDbContext())
            {
            int idModel = db.TspecModels.Where(x => x.ProductModel == strModel).Select(p => p.Id).FirstOrDefault();
            gCpkItemsSL = db.TspecItems.Where(x => idModel == x.TspecModelId && listTestNo.Contains(x.TestNo)).ToList();
    }
    */
    }

    private async void ModelChangeHandler(object theUserInput)
    {
        if (theUserInput == null)
            return;

        string selectedModel = theUserInput.ToString();
        if (selectedModel == gLastSelectedModel)
            return;

        gLastSelectedModel = selectedModel;

        //--- 해당 모델의 CpkItem을 Listup한다.
        Get_Cpk_Items_For_Model(selectedModel);

    }

    private async Task Alert(string message)
    {
        await JsRuntime.InvokeVoidAsync("alert", message); // Alert
    }

    void EditHandler(GridCommandEventArgs args)
    {
        CpkItem item = (CpkItem)args.Item;

        // prevent opening for edit based on condition
        // if (item.ID < 3)
        {
            //args.IsCancelled = true;// the general approach for cancelling an event
        }

        Console.WriteLine("Edit event is fired.");
    }

    async Task UpdateHandler(GridCommandEventArgs args)
    {
        CpkItem item = (CpkItem)args.Item;

        // perform actual data source operations here through your service
        cpkService.UpdateCpkItem(item);

        // update the local view-model data with the service data
        await Get_Cpk_Items_For_Model(item.Model);

        Console.WriteLine("Update event is fired.");
    }

    async Task DeleteHandler(GridCommandEventArgs args)
    {
        CpkItem item = (CpkItem) args.Item;

        // perform actual data source operation here through your service
        cpkService.DeleteCpkItem(item.Model, item.TestNo);

        // update the local view-model data with the service data
        await Get_Cpk_Items_For_Model(item.Model);

        Console.WriteLine("Delete event is fired.");
    }

    async Task CreateHandler(GridCommandEventArgs args)
    {
        CpkItem item = (CpkItem)args.Item;

        // perform actual data source operation here through your service
        cpkService.CreateCpkItem(item);

        // update the local view-model data with the service data
        await Get_Cpk_Items_For_Model(item.Model);

        Console.WriteLine("Create event is fired.");
    }

    async Task CancelHandler(GridCommandEventArgs args)
    {
        CpkItem item = (CpkItem)args.Item;

        // if necessary, perform actual data source operation here through your service

        Console.WriteLine("Cancel event is fired.");
    }

    //--- CpkItems의 UCL/LCL을 USL/LSL을 기존으로 범위를 좁혀서 설정한다ㅏ.
    //    
    public void SetCL_WithRatio()
    {
        ActivateConfirm("정말로 설정하시겠습니까 ?");
        if (gRetMessage == "N")
            return;

        //--- gCpkItemsSL 값을 참고하여 gCpkItemsCL 값을 변경한다.
        double lsl = 0;
        double usl = 0;
        foreach (var sl in gCpkItemsSL)
        {
            CpkItem cpk = gCpkItemsCL.Where(x => x.TestNo == sl.TestNo).FirstOrDefault();
        }
    }


    public async Task ActivateConfirm(string strMessage)
    {
        bool confirmed;
        if (string.IsNullOrWhiteSpace("CPK Settings"))
        {
            confirmed = await Dialogs.ConfirmAsync(strMessage);
        }
        else
        {
            confirmed = await Dialogs.ConfirmAsync(strMessage, "CPK Settings");
        }

        gRetMessage = confirmed ? "Y" : "N";
    }


}
