@page "/home"

@using FimsCPK.Models;
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="card-header text-lg-center pt-2 pb-2 fw-bold px-9"> 검사한 모델 통계 </div>
        @*
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        <br/>
        <h4>0. Home   : FIMS 통계 (모델리스트, 검사수)</h4>
        <br />
        <h4>1. 검사리스트 : 검사결과 일람표</h4>
        <br />
        <h4>2. CPK 관리: CPK 관리 화면 : CTQ항목, UCL, LCL, Graph, Cpk 값 (Model명, Test항목, 기간) </h4>
        <br />
        <h4>3. 장비 정보: </h4>
        <br />
        <h4>4. Admin : Register Users</h4>
        <br />
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        *@
        <TelerikTileLayout Columns="6"
        ColumnWidth="18%"
        RowHeight="200px"
        Reorderable="true"
        Resizable="true">
            <TileLayoutItems>
                <TileLayoutItem HeaderText="모델별 통계" RowSpan="2" ColSpan="2">
                    <Content>
                        <label for="myIncludeDate" ThemeColor="success" style="color:red ">&nbsp;&nbsp;&nbsp;기간지정</label>
                        <TelerikCheckBox Id="myIncludeDate" @bind-Value="@gSetDuration" />&nbsp;&nbsp
                        <TelerikDatePicker Min="@gMinYear" Max="@gMaxYear" @bind-Value="@gStartYear"
                        BottomView="@CalendarView.Month"
                        Format="yyyy-MM-dd" Width="120px"></TelerikDatePicker>
                        ~
                        <TelerikDatePicker @bind-Value="@gEndYear"
                        BottomView="@CalendarView.Month"
                        Format="yyyy-MM-dd" Width="120px"></TelerikDatePicker>
                        <TelerikButton ThemeColor="success" OnClick="@Retrieve_Models" Icon="FontIcon.Search">재검색</TelerikButton>&nbsp;&nbsp;&nbsp;&nbsp;

                        <h4>전체 검사 모델 수 = @gTotalNumModel,   전체 검사 수=@gTotalNumInspection</h4>
                        <TelerikGrid Class="total"
                        Data="@gListModels"
                        Pageable="false"
                        Groupable="false"
                        Sortable="true"
                        Resizable="true"
                        Navigable="true"
                        Height="90%">
                            <GridColumns>
                                <GridColumn Field=@nameof(ModelCount.model) Width="60px" Title="모델" Sortable=true />
                                <GridColumn Field=@nameof(ModelCount.count) Width="30px" Title="검사수량" Sortable=true TextAlign="ColumnTextAlign.Right" />
                            </GridColumns>
                        </TelerikGrid>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="최근 변경내용" RowSpan="2" ColSpan="4">
                    <Content>
                        @*
                        <h6>1) Cp/Cpk 값은 LSL/USL을 기준으로 계산</h6>
                        <h6>2) 정규분포는 "Cpk체크-Cpk통계"에서 해당 채널을 더블클릭하면 popup으로 표시됨</h6>
                        <h4>3) 정규분포/XR그래프/일반그래프에 SL, CL, 3Sigma, 평균값 표시</h4>
                        <h4>4) Cpk 값은 Good/NoGood을 색상으로 표시 (1.33기준)</h4>
                        <h4>5) Cpk List 엑셀로 출력 가능</h4>
                        <h4>6) LCL/UCL관리에서 TestNo에 대한 검사항목명 추가</h4>
                        *@
                        <h6>====== (0.9.9 : 25.6.25)</h6>
                        <h6>- CpkModel 추가하기 기능 구현 </h6>
                        <h6>- Model Spec 추가/삭제, 전체 초기화 기능 구현 </h6>
                        <h6>- 검사 통계 검색시에 기간 지정 기능 구현 </h6>
                        <h6>- 검사 통계 검색시에 기간 지정 기능 구현 </h6>
                        <br />
                        <h6>====== (0.9.3)</h6>
                        <h6>- 10개 이상 검사한 항목만 Cpk 계산 가능 </h6>
                        <br />
                        <h6>====== (0.9.2)</h6>
                        <h6>- Model 추가 (78개)</h6>
                        <h6>- 30개 이상 검사한 항목만 Cpk 계산 가능</h6>
                        <h6>- 7월30일자 SpecSheet 적용</h6>
                        <h6>- 모델이나 TestNo를 변경하면 자동으로 Cpk계산</h6>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="모델별 통계 (검사수량 10개 이상)" RowSpan="2" ColSpan="6">
                    <Content>
                        <TelerikChart Height="85%">
                            <ChartTooltip Visible="true" Shared="true"></ChartTooltip>
                            <ChartLegend Visible="true"></ChartLegend>
                            <ChartSeriesItems>
                                <ChartSeries Type="ChartSeriesType.Column"
                                Name="검사 수량"
                                Data="@gListModels30"
                                CategoryField="model"
                                Field="count">
                                    <ChartSeriesLabels Template="[#=value#]" Visible="true"></ChartSeriesLabels>
                                </ChartSeries>
                            </ChartSeriesItems>

                            <ChartValueAxes>
                                <ChartValueAxis>
                                    <ChartValueAxisTitle Text="검사 모델수" />
                                    <ChartValueAxisMajorGridLines Visible="true" />
                                    <ChartValueAxisPlotBands>
                                        <ChartValueAxisPlotBand From="29" To="35" Color="#00cc00" Opacity="0.3"></ChartValueAxisPlotBand>
                                    </ChartValueAxisPlotBands>
                                </ChartValueAxis>
                            </ChartValueAxes>

                            <ChartCategoryAxes>
                                <ChartCategoryAxis Categories="@Categories" Visible="true">
                                    @*
                                    <ChartCategoryAxisPlotBands>
                                        <ChartCategoryAxisPlotBand From="30" To="31" Color="#440099" Opacity="0.0"></ChartCategoryAxisPlotBand>
                                    </ChartCategoryAxisPlotBands>
                                    *@
                                    <ChartCategoryAxisLabels Step="1">
                                        <ChartCategoryAxisLabelsRotation Angle="-30"></ChartCategoryAxisLabelsRotation>
                                        <ChartCategoryAxisLabelsBorder Width="1" Color="#FFFFFF" DashType="DashType.Solid"></ChartCategoryAxisLabelsBorder>
                                    </ChartCategoryAxisLabels>
                                </ChartCategoryAxis>
                            </ChartCategoryAxes>
                        </TelerikChart>
                    </Content>
                </TileLayoutItem>


            </TileLayoutItems>
        </TelerikTileLayout>
    </Authorized>
    <NotAuthorized>
        <h2>    로그인을 먼저 하세요</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<Tsheet> gSheetList { get; set; }
    public class ModelCount
    {
        public string model { get; set; }
        public int count { get; set; }
    }
    List<ModelCount> gListModels;
    List<ModelCount> gListModels30;
    public int gTotalNumModel = 0;
    public int gTotalNumInspection = 0;
    public string[] Categories = { "1", "2" };

    //--- 검색 기간 : 2023~2030 사이
    private DateTime gMinYear = new DateTime(2023, 1, 1, 0, 0, 0);
    private DateTime gMaxYear = new DateTime(2030, 1, 1, 0, 0, 0);
    private DateTime gStartYear = DateTime.Now;
    private DateTime gEndYear = DateTime.Now;
    private bool gSetDuration = false;

    protected override async Task OnInitializedAsync()
    {
        gStartYear = gEndYear.AddYears(-1);
        Retrieve_Models();
    }

    private void Retrieve_Models()
    {
        DateTime tStartYear = new DateTime(gStartYear.Year, gStartYear.Month, gStartYear.Day, 0, 0, 0);
        DateTime tEndYear = new DateTime(gEndYear.Year, gEndYear.Month, gEndYear.Day, 23, 59, 59);

        using (var db = new FimsDbContext())
        {
            // gSheetList = db.Tsheets.Where(n => n.ClosingEndDateTime >= tStartYear && n.ClosingEndDateTime <= tEndYear).ToList();

            if (gSetDuration == true)
            {
                var models = from sheet in db.Tsheets
                             where sheet.ClosingEndDateTime >= tStartYear && sheet.ClosingEndDateTime <= tEndYear
                             orderby sheet.ProductModel
                             group sheet by sheet.ProductModel into grp
                             select new ModelCount() { model = grp.Key, count = grp.Count() };
                gListModels = models.ToList();
            }
            else
            {
                var models = from sheet in db.Tsheets
                             orderby sheet.ProductModel
                             group sheet by sheet.ProductModel into grp
                             select new ModelCount() { model = grp.Key, count = grp.Count() };
                gListModels = models.ToList();
            }

            gListModels = gListModels.OrderByDescending(n => n.count).ToList();
        }
        gListModels30 = gListModels.Where(n => n.count >= 10).ToList();

        gTotalNumModel = gListModels.Count;
        Categories = new string[gTotalNumModel];
        int i = 0;
        gTotalNumInspection = 0;
        foreach (var item in gListModels)
        {
            Categories[i++] = item.model;
            gTotalNumInspection += item.count;
        }
    }
}